//----------------------------------------------  
//  flex-grid();
//  Creates grid blocks via flexbox

//  @param: $sm, $med, $lg, $xl - @media sizes
//  @param: $pad  - item padding  
//  @useage: @include g-blocks(1, 2, 3, 4, 0.5em);
//----------------------------------------------
@mixin flex-grid($sm:null, $med:null, $lg:null, $xl:null, $pad:0) {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: -$pad;
  margin-right: -$pad;
  list-style: none;
  flex-shrink: 0;

  & > * {
    padding: $pad;
    flex-basis: 100%/$sm;
    max-width: 100%/$sm;
    
    @media (min-width: $mq-med) {
      flex-basis: 100%/$med;
      max-width: 100%/$med;
    }

    @if $lg {
      @media (min-width: $mq-large) {
        flex-basis: 100%/$lg;
        max-width: 100%/$lg;
      }
    }

    @if $xl {
      @media (min-width: $mq-xlarge) {
        flex-basis: 100%/$xl;
        max-width: 100%/$xl;
      }
    }
  }
}

